body {
    margin: 0;
    padding: o;
}

.fs {
    color: #BDE6F1;
}

.rec {
    width: 80px;
    height: 31px;
    color: white;
    background: black;
    padding: 5px;
    margin-right: 20px;
    margin-left: 5px;
}

.wlg {
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
    margin-top: 30px;
}

.fyp {
    margin-left: 40px;
}

.pic1 {
    margin: 20px 0 0 40px;
}

.r1 {
    width: 40px;
    height: 40px;
    background: #BDE6F1;
    margin: 10px 0 10px 40px;
    text-align: center;
    font-size: 25px;
}

.r2 {
    width: 250px;
    height: 40px;
    background: black;
    color: white;
    margin-left: 40px;
    padding: 5px 0 0 5px;
}

.pic2 {
    margin: 20px 0 0 40px;
}

.ua {
    text-align: center;
    margin: 30px;
}

.footer {
    margin: 20px;
    padding: 20px;
    text-align: center;
}